/* container css*/
.container {
  width: 320px;
  height: 320px;
  background-color: red;
  position: relative;
  border-radius: 5px;
}

/* vertical box css */
.box1 {
  width: 60px;
  height: 200px;
  background-color: white;
  position: absolute;
  left: 130px;
  top: 60px;
}

/* horizontal box css */
.box2 {
  width: 200px;
  height: 60px;
  background-color: white;
  position: absolute;
  top: 130px;
  left: 60px;
}
